<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head th:replace="layouts :: header"></head>
	
	<body>
	
	<nav th:replace="layouts :: navbar"></nav>
	<br>
	<div class="container">
		<h2>Joke of the day</h2>
		<hr>
		<p>HR: "So why again do you want to work remotely from Mexico?"</p>
		<p>Analyst: "So that I can be called se&#771;nor Analyst"</p>
		<p>HR: &#128530</p>
	</div>
	<br></br>
	<div class="container">	
		<h2>FORBIDDEN</h2>
		<h3>You do not have Access to this page. Error Code: 403</h3>
	</div>
	</body>
	
</html>	